@import '_fonts';
@import '_grid';

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}


html, body {
  height: 100%;
}

body {
	color: #505050;
 	display: flex;
  flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 55px;
	font-weight: 900;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-size: 22px;
	font-weight: 600;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

h5 {
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

p {
	color: #505050;
	font-size: 14px;
	font-weight: normal;
	line-height: 26px;
}

main {
	flex: 1;
}

footer {
	background-color: #353535;
	color: #FFF;
	padding: 20px 0 10px;
}

.feature {
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
}

#trigger1 {
	margin-top: 50px;
   min-height: 1px;
}

.logos {
	// display: flex;
	// flex-flow: row;
	// justify-content: center;
	left: 50%;
	position: absolute;
	top: 45px;
	transform: translateX(-50%);
	//text-align: center;
	z-index: 1;
	img {
		margin: 0 20px;
		vertical-align: top;
		width: auto;
	}
}

#map {
	height: 100%;
	width: 100%;
}

.bg-gradient {
	background-image: linear-gradient(rgba(52, 122, 180, 1), rgba(55, 122, 180, 0));
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

.fill-viewport {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh; /* if you don't want it to take up the full screen, reduce this number */
  overflow: hidden;
	> div {
  	border: 1px solid #ccc;
		text-align: center;
		width: 500px;
  	z-index: 1;
  	&.header {
  		width: auto;
  	}
  }
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  .container {
  	background-color: #FFF;
		width: 100%;
  	z-index: 1;
  }
  .inner {
  	margin: 0 auto;
  	width: 800px;
  }
}

.header {
	color: #505050;
	left: 50%;
	margin-top: -100px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	.social-icons {
		position: absolute;
	  right: -120px;
	  top: 26px;
	  i {
	  	background-color: #FFF;
	  	border-radius: 50%;
	    border: 1px solid #434343;
	    color: #434343;
	    cursor: pointer;
	    font-size: 13px;
	    margin-right: 10px;
	    padding: 6px 5px 5px;
	    &:hover {
	    	border: 1px solid #F2645A;
	    	color: #F2645A;
	    }
	  }
	}
}

.header-body {
	//opacity: 0;
	margin-top: 150px;
	//z-index: 1;
	p {
		color: #505050;
		font-size: 16px;
		font-weight: 600;
		line-height: 24px;
		text-align: center;
		width: 500px;
	}
}

// #section1 {
// 	position: absolute;
// 	top: 100px;
// }


.arrow-down {
	bottom: 30px;
	left: 50%;
	position: absolute;
  transform: translateX(-50%);
  i {
		color: #F2645A;
  	font-size: 25px;
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}


@media only screen and (max-width: 767px) {
	.logos {
		.grid-container > div {
			padding: 0;
			text-align: center;
		}
		img {
			margin: 10px;
		}
	}
}
